In [1]:
import numpy as np
import pandas as pd

In [2]:
csv0 = pd.read_csv("spotify.csv")

In [3]:
csv0.head()

,Time_submitted,Review,Rating,Total_thumbsup,Reply
0,2022-07-09 15:00:00,"Great music service, the audio is high quality...",5,2,NaN
1,2022-07-09 14:21:22,Please ignore previous negative rating. This a...,5,1,NaN
2,2022-07-09 13:27:32,"This pop-up ""Get the best Spotify experience o...",4,0,NaN
3,2022-07-09 13:26:45,Really buggy and terrible to use as of recently,1,1,NaN
4,2022-07-09 13:20:49,Dear Spotify why do I get songs that I didn't ...,1,1,NaN

In [4]:
csv0.tail()

,Time_submitted,Review,Rating,Total_thumbsup,Reply
61589,2022-01-01 03:01:29,Even though it was communicated that lyrics fe...,1,6,NaN
61590,2022-01-01 02:13:40,"Use to be sooo good back when I had it, and wh...",1,0,NaN
61591,2022-01-01 01:02:29,This app would be good if not for it taking ov...,2,10,NaN
61592,2022-01-01 00:49:23,The app is good hard to navigate and won't jus...,2,1,NaN
61593,2022-01-01 00:19:09,Its good but sometimes it doesnt load the musi...,4,0,NaN

In [8]:
csv1 = pd.read_csv("Airbnb_Open_Data.csv", low_memory=False)

In [9]:
csv1.head()

,id,NAME,host id,host_identity_verified,host name,neighbourhood group,neighbourhood,lat,long,country,...,service fee,minimum nights,number of reviews,last review,reviews per month,review rate number,calculated host listings count,availability 365,house_rules,license
0,1001254,Clean & quiet apt home by the park,80014485718,unconfirmed,Madaline,Brooklyn,Kensington,40.64749,-73.97237,United States,...,$193,10.0,9.0,10/19/2021,0.21,4.0,6.0,286.0,Clean up and treat the home the way you'd like...,NaN
1,1002102,Skylit Midtown Castle,52335172823,verified,Jenna,Manhattan,Midtown,40.75362,-73.98377,United States,...,$28,30.0,45.0,5/21/2022,0.38,4.0,2.0,228.0,Pet friendly but please confirm with me if the...,NaN
2,1002403,THE VILLAGE OF HARLEM....NEW YORK !,78829239556,NaN,Elise,Manhattan,Harlem,40.80902,-73.94190,United States,...,$124,3.0,0.0,NaN,NaN,5.0,1.0,352.0,"I encourage you to use my kitchen, cooking and...",NaN
3,1002755,NaN,85098326012,unconfirmed,Garry,Brooklyn,Clinton Hill,40.68514,-73.95976,United States,...,$74,30.0,270.0,7/5/2019,4.64,4.0,1.0,322.0,NaN,NaN
4,1003689,Entire Apt: Spacious Studio/Loft by central park,92037596077,verified,Lyndon,Manhattan,East Harlem,40.79851,-73.94399,United States,...,$41,10.0,9.0,11/19/2018,0.10,3.0,1.0,289.0,"Please no smoking in the house, porch or on th...",NaN

In [7]:
csv1.head()

,id,NAME,host id,host_identity_verified,host name,neighbourhood group,neighbourhood,lat,long,country,...,service fee,minimum nights,number of reviews,last review,reviews per month,review rate number,calculated host listings count,availability 365,house_rules,license
0,1001254,Clean & quiet apt home by the park,80014485718,unconfirmed,Madaline,Brooklyn,Kensington,40.64749,-73.97237,United States,...,$193,10.0,9.0,10/19/2021,0.21,4.0,6.0,286.0,Clean up and treat the home the way you'd like...,NaN
1,1002102,Skylit Midtown Castle,52335172823,verified,Jenna,Manhattan,Midtown,40.75362,-73.98377,United States,...,$28,30.0,45.0,5/21/2022,0.38,4.0,2.0,228.0,Pet friendly but please confirm with me if the...,NaN
2,1002403,THE VILLAGE OF HARLEM....NEW YORK !,78829239556,NaN,Elise,Manhattan,Harlem,40.80902,-73.94190,United States,...,$124,3.0,0.0,NaN,NaN,5.0,1.0,352.0,"I encourage you to use my kitchen, cooking and...",NaN
3,1002755,NaN,85098326012,unconfirmed,Garry,Brooklyn,Clinton Hill,40.68514,-73.95976,United States,...,$74,30.0,270.0,7/5/2019,4.64,4.0,1.0,322.0,NaN,NaN
4,1003689,Entire Apt: Spacious Studio/Loft by central park,92037596077,verified,Lyndon,Manhattan,East Harlem,40.79851,-73.94399,United States,...,$41,10.0,9.0,11/19/2018,0.10,3.0,1.0,289.0,"Please no smoking in the house, porch or on th...",NaN

In [13]:
csv02 = pd.read_csv("WAZE_REVIEWS.csv")

In [15]:
csv02.head()

,Unnamed: 0,review_id,pseudo_author_id,author_name,review_text,review_rating,review_likes,author_app_version,review_timestamp
0,0,6caba53d-789d-4733-bad5-c7491daf80f2,152618553977019693742,A Google user,Nice app need to add red light cam.,5,0,0.99.2.3,2009-06-30 16:48:15
1,1,30c15838-8b02-4dae-8f51-25905cb40b68,234382942865437071667,A Google user,Really cool social app. Lots of potential to b...,5,0,0.99.2.3,2009-06-30 16:58:43
2,2,c090400e-f88f-4129-930d-a650f3163a11,174473604608358796368,A Google user,I was all excited about this app (ehat a great...,1,0,0.99.2.3,2009-06-30 17:08:33
3,3,f6f37456-793b-4786-af6e-454a811361bf,286593453219054880269,A Google user,I love this app! Lol,5,0,0.99.2.3,2009-06-30 17:37:22
4,4,8ae5d962-7c0c-476d-82fa-79f6e5484acc,167276875678680630145,A Google user,Great app i like the idea of your car being pa...,4,0,0.99.2.3,2009-06-30 23:58:43

In [16]:
csv02.tail()

,Unnamed: 0,review_id,pseudo_author_id,author_name,review_text,review_rating,review_likes,author_app_version,review_timestamp
780068,780068,01655504-5a51-4c19-b313-2bd5fa3f253a,680743620884748258838,Ma********ll,Freezes,3,0,NaN,2023-11-17 03:18:26
780069,780069,f04306cb-af60-4a44-aebc-c37122620319,266638684561117704682,Zu******el,To stuck,1,0,NaN,2023-11-17 03:18:38
780070,780070,894e3c41-ca20-4781-9308-70eeb060a865,154572309081670894420,br**********ji,racist made app,1,0,4.99.0.2,2023-11-17 03:23:20
780071,780071,4fafb0b1-485e-473e-9bcd-d5c9848424d2,154995071911163107981,Mo***********da,ÿ®Ÿáÿ™ÿ±€åŸÜ ŸÖÿ´ŸÑ ŸáŸÖ€åÿ¥Ÿá.ÿ®ÿß ÿ¢€å Ÿæ€å ÿ´ÿßÿ®ÿ™ Ÿáÿß€å ⁄©ÿßŸÜÿßŸÑ ÿ™ŸÑ⁄Øÿ±ÿß...,5,0,4.99.1.1,2023-11-17 04:05:02
780072,780072,d1570ba0-ffc5-4fc6-8d34-12daba4b38e2,200574835524973617311,Re***********iz,Best app ever used.,5,0,4.99.0.2,2023-11-17 04:06:44

In [20]:
uber = pd.read_csv("Uber Customer Reviews.csv", low_memory=False)
uber.head()

,source,review_id,user_name,review_title,review_description,rating,thumbs_up,review_date,developer_response,developer_response_date,appVersion,laguage_code,country_code
0,Google Play,18d6584c-d0e9-4833-a744-f607058aee97,Milky Way,NaN,"Suddenly, the driver can't have my location an...",1,0.0,2023-08-10 17:48:51,NaN,NaN,NaN,en,in
1,Google Play,50a08f18-cece-4ddf-b617-028844c8aa28,Bradlee Severa,NaN,Very cordial.. And helped with a quick turnaro...,5,0.0,2023-08-10 17:38:35,NaN,NaN,4.485.10000,en,in
2,Google Play,b0d8e75a-80a7-4dcd-abaf-72b046dbeeb7,Amit Aggarwal,NaN,Very good experience,5,0.0,2023-08-10 17:38:17,NaN,NaN,4.486.10002,en,in
3,Google Play,502702a9-25ed-4373-a96c-7fa1f06caacd,Bryant Inman,NaN,All I use,5,0.0,2023-08-10 17:37:45,NaN,NaN,4.467.10008,en,in
4,Google Play,f47a3fb6-23db-49bd-9e63-f33c8d724d07,Addie Whittaker,NaN,I have enjoyed traveling by Uber my drivers ha...,5,0.0,2023-08-10 17:36:56,NaN,NaN,4.486.10002,en,in

In [24]:
print(np.shape(uber))

(1069616, 13)

In [27]:
ola_df = pd.read_csv("Ola Customer Reviews.csv", low_memory=False)
ola_df.head()

,source,review_id,user_name,review_title,review_description,rating,thumbs_up,review_date,developer_response,developer_response_date,appVersion,laguage_code,country_code
0,Google Play,fbc7ffc9-5a89-446e-87fd-d69bf4a7f984,Puipuii Ralte,NaN,"The map in Ola is so messed up, i have to pay ...",1,0.0,2023-08-10 16:40:50,NaN,NaN,6.3.2,en,in
1,Google Play,5a0051fb-220a-45b2-ba94-a15a2949218f,Deepak Kumar,NaN,Deepak Kumar.... üôèüôèüôèüôèüôè],5,0.0,2023-08-10 16:36:14,NaN,NaN,NaN,en,in
2,Google Play,71ebf933-b734-474d-bb65-a18c90906ed2,Ahamed Azarudeen,NaN,Such aa irresponsible app more then I waiting ...,1,0.0,2023-08-10 16:29:31,NaN,NaN,6.3.1,en,in
3,Google Play,e1cc0010-60b3-4126-99c2-e8549088566a,Rahil Syed,NaN,Worst,1,0.0,2023-08-10 15:52:06,NaN,NaN,5.0.4,en,in
4,Google Play,77cf1be1-b428-4493-ae25-e0f288f79b8f,vin 007,NaN,Too much expensive .. try UBer... They are pro...,1,0.0,2023-08-10 15:51:10,NaN,NaN,NaN,en,in

In [28]:
# Check average review length
ola_df['review_length'] = ola_df['review_description'].str.len()
print(ola_df['review_length'].describe())

count    357678.000000
mean         92.402697
std         125.489169
min           1.000000
25%           8.000000
50%          33.000000
75%         131.000000
max        2877.000000
Name: review_length, dtype: float64

In [29]:
# Filter out very short reviews
substantive_reviews = ola_df[ola_df['review_length'] > 20]
print(f"Substantive reviews: {len(substantive_reviews)}")

Substantive reviews: 204715

In [30]:
# Check average review length
uber['review_length'] = uber['review_description'].str.len()
print(uber['review_length'].describe())

count    1.069447e+06
mean     7.023987e+01
std      1.158196e+02
min      1.000000e+00
25%      8.000000e+00
50%      2.100000e+01
75%      7.800000e+01
max      3.792000e+03
Name: review_length, dtype: float64

In [31]:
# Filter out very short reviews
substantive_reviews = uber[uber['review_length'] > 20]
print(f"Substantive reviews: {len(substantive_reviews)}")

Substantive reviews: 542110